[Desktop Entry]
Name=ANPR Viewer
Comment=License plate recognition from video
Exec=anpr-viewer
Icon=se.danielnylander.anpr-viewer
Terminal=false
Type=Application
Categories=Utility;Video;
Keywords=ANPR;license;plate;OCR;video;
